* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font-family: open sans;
  color: #f9fafd;
  background-image: url(../assets/R.jfif);
  background-size: cover;
  tekst-margin: 4em;
  text-align:center; 
  
}


